---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <main class='py-32 bg-indigo-100 dark:bg-indigo-900 transition-all duration-300 ease-pooreffects-ease'>
      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
        <div>
          <h2 class="font-medium text-3xl text-gray-800 dark:text-pink-300">Contact Pooreffects</h2>
          <p class="text-xl leading-relaxed text-slate-500 dark:text-indigo-100 mt-3">
            Got a quest/an idea? Let’s chat!</br> Fill out the form, drop me an email, or hit my line — I'm all ears and ready to help
          </p>
          <div class="mt-5">
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 dark:text-teal-500 w-6 h-6" name="uil:map-marker" />

              <span class='text-gray-400 dark:text-indigo-300 '>Algiers, Algeria</span>
            </div>
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 dark:text-teal-500 w-6 h-6" name="uil:envelope" />

              <a class='text-gray-400 dark:text-indigo-300 ' href="mailto:pooreffects.contact@gmail.com">pooreffects.contact@gmail.com</a>
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 dark:text-teal-500 w-6 h-6" name="uil:phone" />

              <a class='text-gray-400 dark:text-indigo-300 ' href="tel:(+213) 0541 5030 58">(+213) 0541 5030 58</a>
            </div>
          </div>
        </div>
        <div>
          <Contactform />
        </div>
      </div>
    </main>

  </Container>
</Layout>
