---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Bring Your Vision to Life",
    description:
      "Utilize cutting-edge tech like JavaScript meta-frameworks to transform your ideas into SPA, PWA, SaaS, E-com, or complex web and mobile applications",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Lightning-Fast Performance",
    description: "Optimize performance with SSG, SSR, and on-demand hydration. We ensure fast load times and exceptional UX by minimizing unnecessary JavaScript.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Interactivity",
    description: "Need engaging UX? We build interactive websites that enhance user satisfaction and increase conversions, setting your brand apart",
    icon: "bx:bxs-data",
  },
  {
    title: "API Design, Tooling, and Integrations ",
    description: "We excel in enhancing your app with clean code, functional techstack, streamlined tooling, and REST API design, ensuring top-notch quality and best practices to elevate your project.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO and Accessibility",
    description:"Optimize your SEO with automatic sitemaps, RSS feeds, pagination, collections, structured data, canonical tags, and optimized metadata.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Design System",
    description:"Adopt a Design System for cohesive, scalable designs that streamline development and ensure consistency across your project for a polished end product",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0 transition-all">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-indigo-900 dark:text-pink-300">
    Turning Your Ideas into Intuitive web experiences
  </h2>
  <p class="text-lg mt-4 text-indigo-900 dark:text-indigo-100">
    Mohamed brings the arsenal to elevate your web presence with state-of-the-art development practices and performant solutions.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 transition-all">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-teal-500 dark:bg-teal-500 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white dark:text-indigo-100" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-indigo-900 dark:text-teal-500">{item.title}</h3>{" "}
          <p class="text-slate-500 dark:text-indigo-200 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
