---
import Scene from "@components/3D/Scene"
---

<main
  class="hero w-full h-screen flex items-center justify-between pt-32">
  <div class="w-full xl:h-2/3 lg:h-2/3 md:h-full  md:order-1 hidden md:block">
    <Scene client:load />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-8xl font-bold lg:tracking-tight xl:tracking-tighter text-indigo-900 dark:text-pink-300 transition-all duration-300 ease-pooreffects-ease">
      Mohamed Benabdellah
    </h1>
    <p class="text-lg ml-4 mt-4 text-slate-600 max-w-xl dark:text-indigo-100">
      A Frontend-heavy Fullstack Developer, seasoning Web/Mobile user experiences. I'm passionate about MMA & Football and induldge in watching standup comedy and funny skits  
    </p>
  </div>
</main>