---
import { Icon } from "astro-icon/components";

// Store the array of icon names
const icons = [
  "html",
  "css",
  "javascript",
  "react-light",
  "typescript",
  "nextjs-light",
  "expressjs-light",
  "vuejs-light",
  "astro",
  "tailwindcss-light",
  "mongodb",
  "laravel-light",
  "jest",
  "blender-light",
  "xd",
];
---

<section class="mt-24 overflow-hidden" aria-labelledby="skills-heading">
  <h2 id="skills-heading" class="text-center text-slate-500 dark:text-indigo-200">
    Skill set and toolbox
  </h2>
  <div class="relative w-full mt-10">
    <div class="marquee-container">
      <div class="marquee flex">
        {icons.concat(icons).map((icon, index) => (
          <span class="flex-shrink-0" key={index} role="img" aria-label={icon}>
            <Icon class="size-16" name={`skill-icons:${icon}`} />
          </span>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  .marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .marquee {
    display: flex;
    width: 200%; /* Double the width to handle the scroll */
    animation: marquee 20s linear infinite;
  }

  .marquee > span {
    padding-right: 2rem; /* Space between icons */
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
