---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24 overflow-hidden">
  <h2 class="text-center text-slate-500">Skill set and toolbox</h2>
  <!--  -->
    <div class="w-full flex items-center justify-center flex-nowrap gap-8  mt-10 animate-loop-scroll transition-all">
      <div class='flex gap-8 md:gap-10'>
        <Icon class="size-12 md:size-16" name="skill-icons:html" />
      <Icon class="size-12 md:size-16" name="skill-icons:css" />
      <Icon class="size-12 md:size-16" name="skill-icons:javascript" />
      <Icon class="size-12 md:size-16" name="skill-icons:react-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:typescript" />
      <Icon class="size-12 md:size-16" name="skill-icons:nextjs-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:expressjs-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:vuejs-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:astro" />
      <Icon class="size-12 md:size-16" name="skill-icons:tailwindcss-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:mongodb" />
      <Icon class="size-12 md:size-16" name="skill-icons:laravel-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:jest" />
      <Icon class="size-12 md:size-16" name="skill-icons:blender-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:xd"  />
      <!-- Duplicate for smooth effect -->
      <Icon class="size-12 md:size-16" name="skill-icons:html" />
      <Icon class="size-12 md:size-16" name="skill-icons:css" />
      <Icon class="size-12 md:size-16" name="skill-icons:javascript" />
      <Icon class="size-12 md:size-16" name="skill-icons:react-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:typescript" />
      <Icon class="size-12 md:size-16" name="skill-icons:nextjs-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:expressjs-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:vuejs-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:astro" />
      <Icon class="size-12 md:size-16" name="skill-icons:tailwindcss-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:mongodb" />
      <Icon class="size-12 md:size-16" name="skill-icons:laravel-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:jest" />
      <Icon class="size-12 md:size-16" name="skill-icons:blender-light" />
      <Icon class="size-12 md:size-16" name="skill-icons:xd"  />
      </div>
      
    </div>
</div>
