---
const { align = "center" } = Astro.props;

const alignmentClass = align === "left" ? "text-left" :
                      align === "right" ? "text-right" : "text-center";
---

  <div class={`py-6 flex flex-col justify-center items-center ${alignmentClass}`}>
    
  </div>