@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and Box Sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: theme("fontFamily.sans");
  line-height: theme("lineHeight.extraLoose");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsive scrollbar styling */
html::-webkit-scrollbar {
  transition: theme("transitionTimingFunction.pooreffects-ease");
  width: 8px;
  height: 8px;
}
@media (max-width: theme("screens.sm")) {
  html::-webkit-scrollbar {
    width: 6px;
  }
}
html::-webkit-scrollbar-track {
  background-color: theme("colors.indigo.100");
}
html::-webkit-scrollbar-thumb {
  background-color: theme("colors.indigo.900");
}

/* Glass effect styling */
.glass {
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Dark mode adjustments */
html.dark {
  --scrollbar-track-color: theme("colors.indigo.900");
  --scrollbar-thumb-color: theme("colors.pink.300");
}

.dark .glass {
  background: rgba(49, 46, 129, 0.52);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(49, 46, 129, 0.09);
}

/* Utility classes for responsive typography and spacing */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0.5rem 1rem;
  @apply text-base md:text-lg;
  width: 100%;
}

#root,
#__next {
  isolation: isolate;
}

.fancy {
  position: relative;
  white-space: nowrap;
}
.fancy::after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.2);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2314b8a6' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}

/* Hide scrollbar for WebKit (Chrome, Safari) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Firefox */
.scrollbar-none {
  scrollbar-width: none;
}
